@import "../styles/font/font.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "SCDream1";
}
