@font-face {
  font-family: "SCDream1";
  src: url("./font_files/SCDream1.otf");
}

@font-face {
  font-family: "SCDream2";
  src: url("./font_files/SCDream2.otf");
}

@font-face {
  font-family: "SCDream3";
  src: url("./font_files/SCDream3.otf");
}

@font-face {
  font-family: "SCDream4";
  src: url("./font_files/SCDream4.otf");
}

@font-face {
  font-family: "SCDream5";
  src: url("./font_files/SCDream5.otf");
}

@font-face {
  font-family: "SCDream6";
  src: url("./font_files/SCDream6.otf");
}
